.portal-children {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: white;
    animation: openWidthAnimation .5s;
}

@keyframes openWidthAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes closeWidthAnimation {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
